{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

app.bytebrew.ai {
    root * /var/www/bytebrew-cloud-web
    try_files {path} /index.html
    file_server
    encode gzip
}

api.bytebrew.ai {
    reverse_proxy 127.0.0.1:8080
}

bridge.bytebrew.ai {
    reverse_proxy h2c://127.0.0.1:8443
}

bytebrew.ai, www.bytebrew.ai {
    redir https://app.bytebrew.ai{uri}
}
