@import "tailwindcss";

@theme {
  --color-brand-accent: #D7513E;
  --color-brand-accent-hover: #C04635;
  --color-brand-dark: #111111;
  --color-brand-dark-alt: #1F1F1F;
  --color-brand-light: #F7F8F1;
  --color-brand-shade1: #DFD8D0;
  --color-brand-shade2: #CBC9BC;
  --color-brand-shade3: #87867F;
  --font-mono: "IBM Plex Mono", monospace;
  --radius-card: 2px;
  --radius-btn: 2px;
}

body {
  @apply bg-brand-dark text-brand-light antialiased;
}
